<ion-content padding>
    <ion-grid *ngIf="state=='jogo'">
        <ion-row>
            <ion-col col-3>O que rima com... {{ question.text }}</ion-col>
            <img [src]="question.image"/>
            
        </ion-row>

        <ion-row >
            <ion-col col-4 *ngFor="let answer of answers">
                <img (click)="finishGame(answer)" [src]="answer" />
            </ion-col>


        </ion-row>

        <ion-row >
            <button  ion-button full large (click)="finishGame()">Finalizar Jogo</button>
        </ion-row>
    </ion-grid>

    <ion-grid padding *ngIf="state=='inicio'">

        <ion-row>
            <ion-col>
                <ion-label>
                    Caça-rimas
                </ion-label>
            </ion-col>
        </ion-row>
        
        <ion-row *ngIf="score !== null">
            <ion-col>
                Pontuação {{score}} 
            </ion-col>
        </ion-row>

        <button ion-button full large color="secondary" *ngIf="score !== null" (click)="startGame()">Jogar Novamente</button>
        <button  ion-button full large *ngIf="score === null" (click)="startGame()">Jogar</button>
    </ion-grid>
</ion-content>